@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4">
        <h2>Love Pizza?</h2>
        <p>
            So do we! Now you can order pizzas online. That's right now talking to people! Because we all know that's no fun.
            Add toppings, choose delivery or pickup, and no need for a credit card. Is all of this excitement making you hungry? Well order a pizza.
        </p>
        <p><a class="btn btn-default" href="../Order/Create">Order Now! &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2> </h2>
        <img class="img-responsive" src="@Url.Content("~/Controllers/images/homepizza.jpg")" />
    </div>
</div>